.carousel-container img {
  height: 100vh;
  width: 100%;
}

.carousel-caption {
  position: absolute;
  bottom: 16.25rem !important;
 
  font-size: 3rem;
  font-size: 2rem;

}
.item {
  height: 850px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover; /* Make the background cover the entire container */
  background-position: center; /* Center the background image horizontally and vertically */

  /* Adjust background properties for smaller screens */
  @media (max-width: 768px) {
    height: 500px; /* Adjust the height as needed for smaller screens */
    width: 400px;;
  }
}

.booking-wrapper{
  background-color: #ffffff4f !important;
}
#rooms-acc{
  height: 400px !important;
    width: 700px !important;
}
.just-this-img {
  max-width: 100%; /* Make sure the element doesn't exceed its container's width */
  height: auto; /* Automatically adjust the height to maintain the aspect ratio */
  background-repeat: no-repeat;
  background-size: contain;
}

/* Apply specific styles for smaller screens */
@media (max-width: 768px) {
  .just-this-img {
    width: 50%; /* Adjust the width as needed for smaller screens */
    max-height: 300px; /* Adjust the maximum height as needed */
  }
}
.random-pic{
  height: -webkit-fill-available;
  width: -webkit-fill-available;
}
.theuser {
  max-width: 100%; /* Ensure the image doesn't exceed its parent's width */
  height: auto; /* Maintain the image's aspect ratio */
  display: block; /* Remove any extra spacing around the image */
  margin: 0 auto; /* Center the image horizontally if needed */
}